<section class="mat-typography">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Create account</h2>
      </mat-card-title>
    </mat-card-header>

    <div *ngIf="errorMessage == null">
      <mat-card-content>
        <h4>
          <mat-icon color="warn">info</mat-icon>
          Password does not match
        </h4>
      </mat-card-content>
    </div>

    <mat-card-content>
      <div class="flex-column">


        <mat-form-field>
          <input matInput placeholder="Player Name" [(ngModel)]="registrationUser.name">
          <mat-hint>Preferable your Pokemon Trading Card Game Online identity</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="registrationUser.email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)]="registrationUser.password">
          <mat-hint>At least 8 characters, including uppercase and numbers</mat-hint>
        </mat-form-field>

        <mat-card-actions>
          <div *ngIf="!isSignupSubmitted; else loadingBlock">
            <button mat-raised-button color="primary" (click)="onSignupSubmitted()">Submit</button>
          </div>
          <ng-template #loadingBlock>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </ng-template>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
</section>
